[core]
  editor = vim
  excludesfile = ~/.gitignore_global
  quotepath = false
  attributesfile = /Users/blakejakopovic/.gitattributes
[alias]
  a = !git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /' | sort
  b = branch
  s = status
  st = status --short --branch
  ls = ls-files
  c = commit
  cm = commit --message
  ch = checkout
  rs = rebase --squash --interactive
  ms = merge --squash
  smu = submodule update --init --recursive
  l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
  ap = add --patch
  update-timestamp = commit --amend --reset-author
  dsf = "!f() { [ -z \"$GIT_PREFIX\" ] || cd \"$GIT_PREFIX\" && git diff --color \"$@\" | diff-so-fancy | less --tabs=4 -RFX; }; f"
  undocommit = !git reset --soft HEAD^ # undo commit back to staged
  scrap = !git reset --hard HEAD^ # reset back to commit before HEAD
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  ui = true
[push]
  default = current
[branch]
  autosetuprebase = always
[advice]
  statusHints = true
[url "https://github/"]
  insteadOf = "gh:"
[url "git@github.com:"]
  pushInsteadOf = "gh:"
[url "git@github.com:blakejakopovic"]
  insteadOf = https://github.com/blakejakopovic/
[url "https://aur.archlinux.org/"]
  insteadOf = "aur:"
[url "ssh+git://aur4.archlinux.org/"]
  pushInsteadOf = "aur:"
[include]
  path = ~/.gituserconfig
[gpg]
  program = gpg2
[user]
	name = Blake Jakopovic
	email = blake.jakopovic@gmail.com
