# ~/.osx/.aliases

# Directory
alias l='gls --color=auto'
alias ls='gls --color=auto'
alias ll='gls --color=auto -al'

# mount
alias mount-dmg='hdiutil attach -imagekey diskimage-class=CRawDiskImage -nomount' #FILE.dmg

# Use GNU rm and mv commands (with root safety)
alias rm='grm --preserve-root -v -i'
alias rmf='grm -rf'
alias mv='mv -i -v'

# Perserve Root
alias chown='gchown --preserve-root'
alias chmod='gchmod --preserve-root'
alias chgrp='gchgrp --preserve-root'

# Finder
alias indexing-off='sudo mdutil -i off' #PATH
alias rm-dsstore='find . -name "*.DS_STORE" -type f -delete'

show-hidden-files() {
  defaults write com.apple.finder AppleShowAllFiles TRUE
  killall Finder
}

hide-hidden-files() {
  defaults write com.apple.finder AppleShowAllFiles FALSE
  killall Finder
}

# Clipboard
alias sortuniq-clipboard='pbpaste | sort | uniq | pbcopy'
alias wc-clipboard="pbpaste | wc -l | awk '{print \$1}'"

# Homebrew
alias bu='brew update'
alias bup='brew upgrade --all'
alias bcu='brew cleanup'
alias bo='brew outdated'
alias brew-upgrade-head='brew reinstall --HEAD' #FORMULA

# DNS
alias flush-dns='dscacheutil -flushcache'

# Disk Images
dmg2iso() { # INPUT OUTPUT
  filename=$(basename "$1")
  extension="${filename##*.}"
  filename="${filename%.*}"
  output="$filename.img"
  hdiutil convert -format UDTO -o "$output" $1
}

iso2img() { # INPUT OUTPUT
  filename=$(basename "$1")
  extension="${filename##*.}"
  filename="${filename%.*}"
  output="$filename.img"
  hdiutil convert -format UDRW -o "$output" $1
}

# Devices
alias lsusb='system_profiler SPUSBDataType'

# MAC Spoof
wifi-mac() {
  current_mac=`wifi-mac2`
  if [ "$current_mac" = "6c:40:08:93:2b:50" ]; then
    echo "$current_mac (DEFAULT)"
  else
    echo "$current_mac (SPOOF)"
  fi
}

wifi-mac2() {
  ifconfig en0 | head -n2 | tail -n1 | cut -d " " -f 2
}

spoof-wifi() {
  mac=`genmac-apple`
  sudo spoof-mac set $mac Wi-Fi
  echo "New MAC: $mac"
  networksetup -setairportpower Wi-Fi off > /dev/null
  sleep 8
  networksetup -setairportpower Wi-Fi on > /dev/null
}

spoof-wifi-reset() {
  sudo spoof-mac reset Wi-Fi
  echo "MAC: $(wifi-mac2)"
  networksetup -setairportpower Wi-Fi off > /dev/null
  sleep 8
  networksetup -setairportpower Wi-Fi on > /dev/null
}

# DNS Crypt
dnscrypt-wifi-enable() {
  sudo /bin/bash -c 'networksetup -getdnsservers Wi-Fi > /etc/dnscrypt-wifi.restore'
  sudo networksetup -setdnsservers Wi-Fi 127.0.0.1
  echo 'New DNS: 127.0.0.1'
}

dnscrypt-wifi-disable() {
  restore_servers=$(sudo bash -c 'cat /etc/dnscrypt-wifi.restore | xargs')
  sudo  networksetup -setdnsservers Wi-Fi $restore_servers
  echo 'New DNS: $restore_servers'
}

dnscrypt-wifi-reset() {
  sudo networksetup -setdnsservers Wi-Fi empty
  echo 'DNS servers reset'
}

# WiFi
wifi-on() {
  networksetup -setairportpower Wi-Fi on > /dev/null
}

wifi-off() {
  networksetup -setairportpower Wi-Fi off > /dev/null
}

# OS X backup commands
export BACKUP_PATH="$HOME/.backup"
alias backup-brew="brew list | xargs > $BACKUP_PATH/brewlist"
alias backup-brewtap="brew tap | xargs > $BACKUP_PATH/brewtaplist"
alias backup-gemlist="gem list | awk '{print $1}' | xargs > $BACKUP_PATH/gemlist"
alias backup-casklist="brew cask list | sed s/\(\!\)//g | xargs > $BACKUP_PATH/casklist"
alias backup-pip="pip list | awk '{print $1}' | xargs > $BACKUP_PATH/piplist"
alias backup-npm="npm list -g --depth=0 | awk '{print $2}' | awk -F'@' 'NF {print $1}' | xargs > $BACKUP_PATH/npmlist"
