# ~/.dotfiles/linux/.Xresources

Xft.autohint:   0
Xft.lcdfilter:  lcddefault
Xft.antialias:  true
Xft.hinting:    true
Xft.hintstyle:  hintfull
Xft.rgba:       rgb
! non-retina = 96 / 196 / 220
Xft.dpi:        196
